@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #8a2be2;
}
@layer base {
  :root {
    --color-primary: #8a2be2;
    --color-secondary: #c28ff0;
    --color-text-base: #ffffff;
    --color-bg: #00222d;
    /* --color-text-dark: #ffffff; */
    --color-text-dark: #f7f4f9;
    --color-text-light: #00222d;
  }
}

@font-face {
  font-family: "GT Walsheim Pro Regular";
  src:
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Regular.ttf") format("truetype"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Regular.woff") format("woff"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro Thin";
  src:
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Thin.ttf") format("truetype"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Thin.woff") format("woff"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro Light";
  src:
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Light.ttf") format("truetype"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Light.woff") format("woff"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro Bold";
  src:
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Bold.ttf") format("truetype"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Bold.woff") format("woff"),
    url("/assets/fonts/GTWalsheim/GTWalsheimPro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT Super DS Trial";
  src:
    url("/assets/fonts/GTSuperDSTrial/GT-Super-Text-Regular-Trial.ttf")
      format("truetype"),
    url("/assets/fonts/GTSuperDSTrial/GT-Super-Text-Regular-Trial.woff")
      format("woff"),
    url("/assets/fonts/GTSuperDSTrial/GT-Super-Text-Regular-Trial.woff2")
      format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GT Super DS Trial Light";
  src:
    url("/assets/fonts/GTSuperDSTrial/GT-Super-Display-Light-Trial.ttf")
      format("truetype"),
    url("/assets/fonts/GTSuperDSTrial/GT-Super-Display-Light-Trial.woff")
      format("woff"),
    url("/assets/fonts/GTSuperDSTrial/GT-Super-Display-Light-Trial.woff2")
      format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Super DS Trial Medium Italic";
  src: url("/assets/fonts/GTSuperDSTrial/GT-Super-Display-Medium-Italic-Trial.otf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "GT Super DS Trial Regular Italic";
  src: url("/assets/fonts/GTSuperDSTrial/GT-Super-Display-Regular-Italic-Trial.otf")
    format("truetype");
  font-style: italic;
}
@layer components {
  .container {
    @apply max-w-screen-xl mx-auto px-4;
  }
}

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
strong {
  color: black;
  font-family: "GT Walsheim Pro Regular";
  font-weight: 700;
}
h1 {
  color: black;
  font-family: "GT Walsheim Pro Regular";
  font-size: 30px;
  line-height: 2.5rem;
  margin: 10px 0px;
  font-weight: 700;
}

.content ul {
  list-style-type: disc;
}

.content ol {
  list-style-type: decimal;
}
.content h1 {
  color: inherit;
}

/* React Modals */
.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}
.heading strong {
  font-family: GT Super DS Trial;
}

.guide strong {
  font-family: "GT Walsheim Pro Regular";
  font-weight: 700;
}
.guide em {
  font-family: "GT Super DS Trial Medium Italic";
  font-weight: 400;
}
.guide p {
  font-family: "GT Super DS Trial Light";
  font-weight: 300;
}

/* Darkmode */

/* ****************** */
/* IN PROGRESS... */

:root {
  --sz: 15px;
  --on: #03a9f4;
  --on: #67f970;
  --of: #fff0;
  --of: #f44336;
  --gr: #666666;
  --tr: all 0.5s ease 0s;
  --lg: var(--of);
}

.toggle {
  position: relative;
  width: calc(var(--sz) * 2);
  height: calc(var(--sz) * 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  display: none;
}

label[for="btn"] {
  position: absolute;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  background: linear-gradient(0deg, #121720, #0d1217);
  border-radius: var(--sz);
  box-shadow:
    0 calc(var(--sz) / 1) 5px 0 #0002 inset,
    0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006,
    0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #0b0b10,
    0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #b9e1ff88,
    0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #15182fcc;
}

label[for="btn"]:before {
  content: "";
  position: absolute;
  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  background: #fff0;
  border-radius: 100%;
  left: calc(calc(var(--sz) / 10) + calc(var(--sz) / -30));
  top: calc(calc(var(--sz) / 10) + calc(var(--sz) / -20));
  box-shadow:
    calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2
      inset,
    0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c,
    0 calc(var(--sz) / 3) calc(var(--sz) / 3) 0 #000d;
  transition: var(--tr);
}

label[for="btn"]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 75% 50%,
      #fff0 0 calc(var(--sz) / 4),
      #fff calc(var(--sz) / 4 + 1px) calc(var(--sz) / 3),
      #fff0 calc(var(--sz) / 3 + 1px) 100%
    ),
    linear-gradient(90deg, #fff, #fff);
  background-repeat: no-repeat;
  background-size:
    100% 100%,
    calc(var(--sz) / 10) calc(var(--sz) / 1.5);
  background-position:
    0 0,
    calc(var(--sz) / 1) calc(var(--sz) / 1.5);
  border-radius: 100%;
  left: 0;
  top: 0;
  transition: var(--tr);
  opacity: 0.95; /*
    filter: drop-shadow(0 0 calc(var(--sz) / 2) #fff8 ) drop-shadow(1px 1px 1px #0009) drop-shadow(-1px -1px 1px #fff9);*/
}

.thumb {
  --shdw: 180deg;
  position: absolute;
  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
  top: calc(calc(var(--sz) / 10) + calc(var(--sz) / -20));
  left: calc(calc(var(--sz) / 10) + calc(var(--sz) / -30));
  background: radial-gradient(
      circle at 51% 50%,
      #fff0 calc(var(--sz) / 1.05),
      var(--lg) calc(var(--sz) / 0.99)
    ),
    radial-gradient(
      circle at 59% 50%,
      #fff0 calc(var(--sz) / 0.95),
      var(--lg) calc(var(--sz) / 0.75)
    );
  border-radius: var(--sz);
  box-shadow: calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0
    #fff2 inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

#btn:checked + label[for="btn"]:before {
  left: calc(
    calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) -
      calc(calc(var(--sz) / 10) + calc(var(--sz) / 5.75))
  );
}

#btn:checked + label .thumb {
  --shdw: 360deg;
  --lg: var(--on);
  /*transition: var(--tr);*/
  left: calc(
    calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) -
      calc(calc(var(--sz) / 10) + calc(var(--sz) / 5.75))
  );
  transform: rotate(180deg);
  box-shadow: calc(var(--sz) / -50) calc(var(--sz) / -50) calc(var(--sz) / 30) 0
    #fff2 inset;
}

.thumb:before {
  content: "";
  position: absolute;
  width: calc(var(--sz) / 0.5);
  height: calc(var(--sz) / 0.5);
  background: radial-gradient(
    circle at 56% 50%,
    #fff0 calc(var(--sz) / 1),
    var(--lg) calc(var(--sz) / 0.95)
  );
  filter: blur(10px);
  opacity: 0.25;
  z-index: 0;
}

.thumb:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
      #0002 0.000095%,
      #fff0 0.0005%,
      #fff0 0.005%,
      #fff0 0.0005%
    ),
    repeating-conic-gradient(
      #0002 0.00001%,
      #fff0 0.00009%,
      #fff0 0.00075%,
      #fff0 0.000025%
    ),
    linear-gradient(180deg, #131821, #121721);
  box-shadow: calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0
    #fff2 inset;
  border-radius: 100%;
  z-index: -1;
}

#btn:checked + label .thumb:after {
  transform: rotate(-180deg);
}

#btn:checked + label .thumb .light {
  transform: rotate(180deg);
}

#btn:checked + label .thumb .light:before {
  --lg: var(--on);
  transition: var(--tr);
  box-shadow:
    0 0 calc(var(--sz) / 3.5) 0 var(--lg),
    0 0 calc(var(--sz) / 3) calc(var(--sz) * 0.005) var(--lg) inset,
    0 calc(var(--sz) / -20) calc(var(--sz) * 0.05) calc(var(--sz) / 10) #000c
      inset;
  background: radial-gradient(
    circle at 50% 32%,
    #fff 0 calc(var(--sz) / 20),
    var(--lg) calc(var(--sz) / 3) calc(var(--sz) / 3)
  );
}

.light-dot {
  position: relative;
  width: calc(var(--sz) * 1);
  height: calc(var(--sz) / 1.75);
  left: calc(var(--sz) * -0.5);
  display: flex;
  justify-content: center;
  z-index: 1;
  border: 2px solid red;
  background: #121212;
  position: relative;
  width: calc(var(--sz) / 3);
  height: calc(var(--sz) / 3);
  border-radius: var(--sz);

  display: flex;
  align-items: center;
  justify-content: center;
}

.light-dot:before {
  content: "";
  transition: var(--tr);
  width: calc(100% - calc(var(--sz) / 15));
  height: calc(100% - calc(var(--sz) / 15));
  position: absolute;
  background: radial-gradient(
    circle at 50% 32%,
    #fff5 0 calc(var(--sz) / 20),
    #000 calc(var(--sz) / 3) calc(var(--sz) / 3)
  );
  border-radius: var(--sz);
  box-shadow:
    0 0 calc(var(--sz) / 3) 0 #003ef520,
    0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #003ef520 inset;

  box-shadow:
    0 0 calc(var(--sz) / 3.5) 0 var(--lg),
    0 0 calc(var(--sz) / 3) calc(var(--sz) * 0.005) var(--lg) inset,
    0 calc(var(--sz) / -20) calc(var(--sz) * 0.05) calc(var(--sz) / 10) #000c
      inset;
  background: radial-gradient(
    circle at 50% 32%,
    #fff 0 calc(var(--sz) / 20),
    var(--lg) calc(var(--sz) / 3) calc(var(--sz) / 3)
  );
}
